<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/Images/Logo.png" alt="Logo" style="width:40px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav container-fluid">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/apply">Apply</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Info</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://www.roblox.com/groups/4723638/Fruits#!/about" target="_blank">Group</a></li>
                        <li><a class="dropdown-item" href="https://discord.gg/B8MjR2XC4z" target="_blank">Discord</a></li>
                        <li><a class="dropdown-item" href="https://www.roblox.com/games/7377194279/Fruits-Caf" target="_blank">Game</a></li>
                    </ul>
                </li>
            </ul>

            <form action="/auth">
                <button class="btn btn-primary p-1 m-0"><div class="container-fluid d-flex gap-1"><div class="container p-0"><img src="/Images/Discord.png" width="22"/></div><div class="container p-0">Login</div></button>
            </form>
        </div>
    </div>
</nav>