<!DOCTYPE html>

<html land="en">
    <%- include('partials/metaData') -%>

    <body>
        <%- include('partials/header') -%>
        <%- include('partials/navbar') -%>

        <div class="container">
            <div id="imageSlide" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#imageSlide" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#imageSlide" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#imageSlide" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#imageSlide" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/Thumbnail1.png" alt="Fruit's Logo" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/Thumbnail2.png" alt="Fruit's Logo" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/Thumbnail3.png" alt="Fruit's Logo" class="d-block" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/Thumbnail4.png" alt="Fruit's Logo" class="d-block" style="width:100%">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#imageSlide" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
                <button class="carousel-control-next" type="button" data-bs-target="#imageSlide" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>
            </div>
            
            <div class="container-fluid mt-3">

                <hr>

                <h1>Welcome to Fruit's! 🍓</h1>

                <hr>

                <p>"Juice. Finest. Fruit's." 🍋</p>
                <p>Fruit's is one of\watch the highest quality juice bar on Roblox serving the best of the best, where you can order a range of delicious items from fruit juices to refreshing ice popsicles. We always guarantee the best service from all of our staff members. 🍉</p>
                <p>You can become a staff member by joining the group and visiting the application center or by applying on this website. Make sure to use the best detail in your answers as that is the key to passing. 🍇</p>
                <p>Our communications server is currently in the workings, once complete make sure to join and verify to be let into the server! Once you are in, you will gain access to all of the public channels where you can communicate with the Fruit's community! For The Time Being, You Can Still Join!🍍</p>
                
                <hr>

                <h1>A bit of history..</h1>

                <hr>

                <p>Fruit's was originally created by a Roblox user called Bytiiz. Bytiiz always wanted to create a cafe group / game as well as manage a large group. Although greatly determined to do so, Bytiiz was unfortunately not able to complete his dream. Considering this as the status quo, he decided to sell the group to someone else who may have the same dream. That person was named Blimmed.</p>
                <p>Blimmed had the same idea in mind. A nice group with many members, a large and interactive community, as well as </p>
            </div>
        </div>
    </body>

    <%- include('partials/footer') -%>
</html>