<!DOCTYPE html>

<html land="en">
    <%- include('partials/metaData') -%>

    <body>
        <%- include('partials/header') -%>
        <%- include('partials/navbar') -%>
        
        <div class="container">
            <div class="container-fluid mt-3">
                <h1>This is just some font testing</h1>
                <p>Test Test</p>
            </div>
        </div>
    </body>

    <%- include('partials/footer') -%>
</html>